.services-cleanbox {
  padding-left: pxToVw(270);
  padding-top: pxToVw(128);
  padding-right: pxToVw(64);
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: pxToVw2(12);
  font-weight: 300;
  @media (max-width: 1024px) {
    padding: 0 20px;
    font-size: 1rem;
  }
  &__container {
    display: flex;
    align-items: stretch;
    height: calc(100% - 90px);
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__left {
    width: 40%;
    padding-right: pxToVw(30);
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  &__right {
    border-left: 1px solid #005090;
    width: 60%;
    padding-left: pxToVw(60);
    @media (max-width: 1024px) {
      width: 100%;
      border: none;
      padding-left: 0;
    }
  }
  .composition__header {
    max-width: 1000px;
    display: block;
    margin-bottom: pxToVw(50);
  }
  h4 {
    text-transform: uppercase;
    margin-bottom: pxToVw(30);
    font-size: pxToVw2(12);
    display: flex;
    @media (max-width: 1024px) {
      font-size: 1rem;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    img {
      width: 0.8125vw;
      margin-right: 0.8vw;
      @media (max-width: 1024px) {
        width: 25px;
        margin-right: 10px;
      }
    }
  }
  .section-title {
    font-family: "Charter", serif;
    font-size: pxToVw(20);
    font-weight: normal;
    max-width: 1400px;
    margin-bottom: pxToVw(50);
    @media (max-width: 1024px) {
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid #b3d0e1;
      font-size: 1.6rem;
    }
  }
  .video_columns {
    display: flex;
    flex-wrap: wrap;

    & > div {
      width: 40%;
      margin-right: pxToVw(30);
      position: relative;
      cursor: pointer;
      @media (max-width: 1024px) {
        width: 100%;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
        max-width: 100%;
        max-height: 40vh;
        object-fit: cover;
      }
      &:before {
        content: "";
        width: 47px;
        height: 40px;
        display: block;
        background: #005090 url(../img/play.png) 50% 50% no-repeat;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @media (max-width: 1024px) {
          width: 57px;
          left: 50%;
          transform: translateX(-50%);
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
    }
  }
}

.services-cleanbox__list {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    flex-direction: column;
    background: #fff;
    padding: 30px 20px 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.services-cleanbox__list-item {
  margin-bottom: pxToVw(30);
  width: 50%;
  padding-right: pxToVw(30);
  margin-bottom: 100px;
  min-height: 130px;
  @media (max-width: 1024px) {
    width: 100%;
    min-height: auto;
    margin-bottom: 50px;
    text-align: center;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  .title {
    font-weight: bold;
    font-size: pxToVw(12);
    margin-bottom: pxToVw(10);
    @media (max-width: 1024px) {
      font-size: 1rem;
    }
  }
  .number {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    background: url(../img/img-plug.png) no-repeat;
    background-size: contain;
    text-align: center;
    display: block;
    width: 37px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }
}
.services-cleanbox__right {
  .services-cleanbox__list-item {
    width: 30%;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  h3 {
    font-weight: normal;
    margin: 0;
  }
  ul {
    margin-top: 30px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 1vw;
      padding-left: 1.4vw;
      margin-left: 0;
      background: url(../img/small-arrow3.svg) 0 3px no-repeat;
      background-size: 0.8125vw;
      display: flex;
      .composition__item-quotes {
        display: none;
      }
      @media (max-width: 1024px) {
        margin-bottom: 7px;
        font-size: 12px;
        line-height: 14px;
        background: none;
        .composition__item-quotes {
          display: block;
        }
      }
    }
  }
}
