.header {
    color: white;
}

.header__breadcrumbs {
    font-family: "Charter", serif;
    position: absolute;
    top: pxToVw(45);
    left: pxToVw(272);
    font-size: pxToVw(12.8);
    &:hover{
        .header__submenu{
            opacity: 1;
            pointer-events: all;
        }
    }
}

.header__submenu{
    position: absolute;
    top: -3vw;
    left: pxToVw(-25);
    width: pxToVw(260);
    background-color: #fff;
    box-shadow: 0px 20px 20px 0px rgba(103, 161, 196, 0.45);
    padding: 3vw 0 1.66667vw 0;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    &-list{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &-header{
        display: flex;
        align-items: center;
        font-size: pxToVW(17);
        color: #005090;
        margin-left: pxToVw(25);
        margin-right: pxToVw(25);
        padding-bottom: pxToVw(14);
        border-bottom: 1px solid #C9DEE9;
        margin-bottom: pxToVw(14);
    }
}

.header__submenu-item{
    margin-bottom: pxToVw(10);
    padding-left: pxToVw(25);
    &:last-child{
        margin-bottom: 0;
    }
}

.header__submenu-link{
    color: #005090;
    font-size: pxToVw(11);
    font-weight: 500;
    transition: 0.3s;
    &:hover{
        color: #65A2C2;
    }
}

.header__logo {
    position: absolute;
    width: pxToVw(150);
    height: pxToVw(40);
    top: pxToVw(40);
    left: pxToVw(40);
    z-index: 100;
    transition: opacity 1s ease;
}

.header__logo_blue {
    opacity: 0;
}

.header__menu {
    position: fixed;
    width: pxToVw(111);
    height: pxToVw(116);
    top: 50.5%;
    transform: translateY(-50%);
    left: pxToVw(15);
    z-index: 100;
    cursor: pointer;
    transition: opacity 1s ease;
}

.header__menu_blue {
    opacity: 0;
}

.header__menu-important {
    opacity: 1 !important;
}

.header__small-menu {
    position: absolute;
    top: pxToVw(45);
    right: pxToVw(50);
    z-index: 100;
}

.header__link {
    margin: 0 pxToVw(20);
    font-size: pxToVw(13);
    font-weight: 300;
}

.header__menu._mobile {
    display: none;
}

.header__phoneIcon {
    display: none;
}

.header__small-menu-blue {
    right: 7vw;
}

.header__small-menu-blue .header__link {
    color: #67a1c4;
    margin: 0 1vw 0 0;
}

@media (max-width: 1024px) {
    .header__phoneIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        z-index: 100;
        img {
            width: 60px;
            height: 60px;
        }
    }
    .header__link {
        margin: 0 10px;
        font-size: 12px;
    }

    .header__logo {
        width: 100px;
        height: 40px;
        top: 20px;
        left: 20px;
        display: none;
    }

    .header__menu {
        display: none;
    }

    .header__menu._mobile {
        display: block;
        opacity: 1;
        position: static;
        transform: unset;
        margin-left: 20px;
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }

    .header__small-menu {
        background: white;
        color: #67a1c4;
        position: fixed;
        top: unset;
        left: 5%;
        right: 5%;
        border-radius: 25px;
        display: flex;
        height: 40px;
        align-items: center;
        bottom: 25px;
    }

    .header__breadcrumbs {
        display: none;
    }

    .page404 .header__logo_blue {
        opacity: 1 !important;
    }
}

@media (min-width: 1600px) {


    .header__breadcrumbs {
        top: pxToVw2(45);
        left: pxToVw2(272);
        font-size: pxToVw2(12.8);
    }

    .header__logo {
        width: pxToVw2(150);
        height: pxToVw2(40);
        top: pxToVw2(40);
        left: pxToVw2(40);
    }

    .header__menu {
        width: pxToVw2(111);
        height: pxToVw2(116);
        top: 50.5%;
        transform: translateY(-50%);
        left: pxToVw(15);
    }

    .header__small-menu {
        top: pxToVw2(45);
        right: pxToVw2(50);
    }

    .header__link {
        margin: 0 pxToVw(55);
        font-size: pxToVw(13);
    }

    .header__small-menu-blue {
        right: 7.5vw;
    }
}
