.map-info {
}
.map-info__heading {
    font-size: 14px;
    font-weight: 700;
}
.map-info__text {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0px 5px;
}
.map-info__more {
    color: #64a1c1;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.map-info__more span {
}
.map-info__more img {
    width: 15px;
    height: 10px;
    margin-left: 10px;
}
