

.search {

    &_btn-open {
        background: url(../img/search_lense.svg) no-repeat;
        width: 22px;
        height: 22px;
        display: block;
        font-size: 0;
        @media (max-width: 600px) {
            position: absolute;
            background: url(../img/lense.svg) no-repeat;
            right: 25px;
          }
    }
    &_btn-close {
        position: absolute;
        top: 50%;
        left: pxToVw(600);
        background: url(../img/search_close.svg) no-repeat;
        width: 22px;
        height: 22px;
        display: block;
        font-size: 0;
        transform: translate(-25px, -50%);

        @media (max-width: 600px) {
            top: 17px;
            right: 0;
            left: auto;
        }
    }
    &_btn {
        background: #005090;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 6px 35px;
        margin-left: 15px;
        height: 36px;
        cursor: pointer;
        @media (max-width: 600px) {
            margin-left: auto;
            margin-top: 10px;
          }
        
    }
    &-type {
        font-weight: 300;
        display: flex;
        margin-bottom: 30px;
        font-weight: 700;
        a {
            font-weight: 300;
            display: inline-block;
            margin: 0 10px;
            color: #005090;
            &.active {
                color: #65A2C2;
            }
        }
        & > p {
            font-size: 12px;
        }
    }
    &_input-wrapper {
       
        align-items: center;
        margin-bottom: 15px;
        position: relative;
        display: none;
        @media (max-width: 600px) {
            flex-wrap: wrap;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -40px;
            top: 5px;
            background: #fff url(../img/lense.svg) 0 50% no-repeat;
            width: 30px;
            height: 30px;
        }
        input[type="text"],
        .search_input {
            height: 36px;
            border-radius: 0;
            width: pxToVw(600);
            border: none;
            border-bottom: 1px solid rgba(#005090, .5);
            outline: none;
            @media (max-width: 600px) {
                width: calc(100vw - 30px);
              }
        }
        @media (max-width: 600px) {
  
           padding-left: 15px;
           padding-right: 15px;
         }
    }
    &.open {
       @media (max-width: 600px) {  
        .search_input-wrapper  {   
            display: flex;
        }
        .search_input {
                background: url(../img/lense.svg) 0 50% no-repeat;
                background-size: 25px;
                padding-left: 30px;
            }
        }
        .search_btn-open {
            display: none;
        }
    }
}
.header {
    .search {
        position: absolute;
        top: pxToVw(35);
        right: pxToVw(65);
        z-index: 100;
        &_btn-close {
            transform: translate(-30px, -50%);
        }
        &_input-wrapper {
            position: absolute;
            top: -50%;
            right: pxToVw(0);
            display: none;
            
            input[type="text"], .search_input {
                border: 1px solid rgba(#005090, .5);
                outline: none;
                padding-left: 40px;
                background: #fff url(../img/lense.svg) 10px 50% no-repeat;
                color: #005090;
            }
            &:before {
                display: none;
            }
        }
        &.open {
            .search_input-wrapper  {
                display: flex;
            }
            .search_btn-open {
                display: none;
            }
        }
        &_btn-open {
            background: url(../img/search_lense.svg) no-repeat;
            width: 22px;
            height: 22px;
            display: block;
            font-size: 0;
            @media (max-width: 600px) {
                position: absolute;
                background: url(../img/lense.svg) no-repeat;
                right: 25px;
              }
        }
    }
}
.section__search-results {
    width: 100%;
    align-items: center;
    padding-left: 13.33333vw;
    font-size: 14px;
    margin-top: 20vh;
    @media (max-height: 600px) {
        margin-top: 8vh;
     }
    h2 {
        margin-top: 5vh;
        font-size: 3vw;
        font-weight: 100;
        @media (max-height: 600px) {
            margin-top: 0;
            font-size: 2vw;
         }
    }
    &_content {
        margin-left: 25%;
        font-weight: 300;
        @media (max-width: 600px) {
            margin-left: 0;
        }
    }
    b {
        font-weight: 700;
    }
    ol {
        margin-left: 0;
        font-weight: 300;
        margin-top: 5vh;
        height: 40vh;
        overflow-y: auto;
        padding-right: 40px;
        padding-left: 40px;
        list-style: none;
        li {
            margin-bottom: 3vh;
            position: relative;
            & > span {
                position: absolute;
                top: 4px;
                left: -35px;
                width: 35px;
                font-weight: bold;
                // text-align: right; 
            }
           
          
            b {
                font-size: 20px;
                font-weight: normal;
                margin-bottom: 10px;
                display: block;
                color: #005090;
            }
            p {
                color: #65A2C2;
            }
            span {
                color: #005090;
            }
            a {
                color: #005090;
                display: block;
                margin-top: 2vh;
            }
        }
    }
    .search-paging {
        margin-top: 30px;
        
    }
    .search-paging ul {
        display: flex;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        align-items: center;
     li {
        margin-right: 18px;
        font-size: 16px;
        a {
           color: #65A2C2; 
        }
        &.current {
            a {
               font-weight: bold;
                color: #005090;  
            }
        }
        &.next {
            background: url(../img/arrow-next.svg) 50% 50% no-repeat;
            width: 23px;
            height: 23px;
            a {
                font-size: 0;
                display: block;
                height: 100%;
                width: 100%;
            }
        }
     }
    }
}

.nav-links {
    font-size: .66667vw;
    margin: 0 .66667vw;
    display: flex;
    
    a {
        color: #65A2C2;
    }
    .page-numbers {
        margin-right: 18px;
        font-size: 16px;
    }
    .page-numbers.current {
        font-weight: bold;
        color: #005090;

    }
    .next {
        font-size: 0;
        background: url(../img/arrow-next.svg) 50% 50% no-repeat;
        width: 23px;
        height: 23px;
        display: inline-block;
    }
}