.coordinator-block {
    position: relative;

    display: flex;
    max-width: pxToVw3(1000);
    &__slider {
        overflow: hidden;
        position: relative;

        max-width: 50%;

        // padding-right: pxToVw3(65);
        border-right: 1px solid #65A2C2;

        padding-bottom: pxToVw3(90);
        .section {
            &__title2 {
                margin-top: 0;
            }
        }

        &:nth-child(2) {
            padding-right: 0;
            padding-left: pxToVw3(65);

            border-right: none;

            .coordinator-block {
                &__switch {
                    left: pxToVw3(65);
                }
            }
        }
    }

    &__item {
        padding-top: pxToVw3(25);
        padding-bottom: pxToVw3(25);
        padding-right: pxToVw3(50);
        padding-left: pxToVw3(45);

        min-width: 50%;

        text-align: center;
        p {
            font-size: pxToVw3(13);
            font-weight: 300;
            line-height: pxToVw3(15);

            margin-bottom: pxToVw3(40);
        }

        &:nth-child(1) {
            border-right: 1px solid #D1E3ED;
        }

        .full-menu__form-submit {
            margin: 0 auto;

            height: auto;
        }
    }

    &__slider-wrapper {
        width: 100%;
        display: flex;
        transition: transform 1s ease-in-out;
    }

    &__switch {
        position: absolute;
        bottom: pxToVw(0);
        font-size: pxToVw(12);
        display: flex;
        color: #67a1c4;
        left: pxToVw(0);
        user-select: none;
        transition: opacity 1s ease;
    }

    &__item-img {
        margin-bottom: pxToVw3(45);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__item-title {
        font-size: pxToVw3(14);
        font-weight: 700;

        margin-bottom: pxToVw3(8);
    }
}

@media (max-width: 1024px) {
    .coordinator-block {
        max-width: none;
        flex-direction: column;

        padding-bottom: 80px;
        &__slider {
            max-width: none;
            margin-right: 0;
            margin-bottom: 20px;

            height: auto;
            border: none;
        }

        &__item-img {
            max-width: 150px;

            margin: 0 auto;
            margin-bottom: 15px;
        }

        &__item-title {
            font-size: 14px;
        }

        &__item {
            padding-top: 10px;
            padding-right: 60px;

            &:nth-child(2) {
                padding-left: 60px;
            }

            p {
                font-size: 14px;
                line-height: 16px;
            }

            .full-menu__form-submit {
                width: 150px;
                font-size: 11px;
            }
        }
    }
}

@media (max-width: 400px) {
    .coordinator-block {
        &__item {
            padding-left: 20px;
            padding-right: 20px;

            p {
                font-size: 12px;
            }

            .full-menu__form-submit {
                width: 100%;
            }

            &:nth-child(2) {
                padding-left: 20px;
            }
        }

        &__slider {
            padding-bottom: 40px;
        }
    }
}