.footer-slide {
    background-color: #E8F1F6;
    box-shadow: 0px -20px 20px rgba(0, 80, 146, 0.2);

    margin-left: pxToVw3(50);
    margin-right: pxToVw3(70);
    margin-top: pxToVw3(50);
    padding-bottom: pxToVw3(35);

    padding-left: pxToVw3(50);
    padding-right: pxToVw3(50);

    padding-top: pxToVw3(40);

    @media (max-width: 1024px) {
        display: none;
    }

    &__row {
        display: flex;
        margin-bottom: pxToVw3(25);
    }

    &__nav {
        margin-bottom: pxToVw3(25);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    color: #005092;
                    font-size: pxToVw3(18);
                    font-weight: 500;
                    line-height: pxToVw3(22);

                    transition: all 0.2s ease-in-out;

                    &:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: pxToVw3(7);
                }
            }
        }
    }

    &__download-box {
        background-color: #fff;
        border-radius: 12px;

        padding-bottom: pxToVw3(14);
        padding-left: pxToVw3(17);
        padding-right: pxToVw3(17);
        padding-top: pxToVw3(12);

        p {
            color: #67A1C4;
            font-size: pxToVw3(15);
            line-height: pxToVw3(25);

            margin-bottom: pxToVw3(9);
        }
    }

    &__download-box-row {
        display: flex;
        justify-content: space-between;
    }

    &__download-box-button {
        height: pxToVw3(20);
        transition: all 0.2s ease-in-out;

        width: pxToVw3(60);

        img {
            height: 100%;
            width: 100%;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__row-left-block {
        border-right: 1px solid #D1E3ED;
        min-width: 10vw;
        padding-right: pxToVw3(12);

        position: relative;
    }

    &__services {
        border-right: 1px solid #D1E3ED;
        padding-left: pxToVw3(50);

        padding-right: pxToVw3(45);

        p {
            color: #005092;
            font-size: pxToVw3(18);
            font-weight: 500;
            line-height: pxToVw3(26);

            margin-bottom: pxToVw3(15);
        }
    }

    &__services-row {
        display: flex;
    }

    &__services-list {
        &:first-child {
            margin-right: pxToVw3(54);
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                &:not(:last-child) {
                    margin-bottom: pxToVw3(7);
                }

                a {
                    color: #65A2C2;
                    font-size: pxToVw3(14);
                    font-weight: 300;
                    line-height: pxToVw3(18);

                    transition: all 0.2s ease-in-out;

                    &:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__company {
        border-right: 1px solid #D1E3ED;
        padding-left: pxToVw3(65);

        padding-right: pxToVw3(65);

        p {
            color: #005092;
            font-size: pxToVw3(18);
            font-weight: 500;
            line-height: pxToVw3(26);

            margin-bottom: pxToVw3(15);
        }
    }

    &__bar {
        background-color: #005092;
        border-radius: 15px;
        margin-bottom: pxToVw3(24);
        padding-bottom: pxToVw3(7);

        padding-left: pxToVw3(75);

        padding-right: pxToVw3(75);

        padding-top: pxToVw3(7);

        ul {
            align-items: center;
            display: flex;
            justify-content: center;

            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding-left: pxToVw3(25);
                padding-right: pxToVw3(25);
                position: relative;

                &:not(:last-child) {
                    &::before {
                        background-color: #fff;
                        content: "";
                        height: pxToVw3(11);
                        margin-top: pxToVw3(1);

                        position: absolute;
                        right: 0;
                        top: 50%;

                        transform: translateY(-50%);
                        width: pxToVw3(2);
                    }
                }

                a {
                    color: #fff;
                    font-size: pxToVw3(13);
                    font-weight: 500;
                    line-height: pxToVw3(16);

                    transition: all 0.2s ease-in-out;

                    &:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__bottom {
        align-items: center;
        display: flex;
    }

    &__bottom-phone {
        align-items: center;
        display: flex;

        margin-right: pxToVw3(22);
        padding-right: pxToVw3(22);

        position: relative;

        &::before {
            background-color: #D1E3ED;
            content: "";
            height: pxToVw3(32);

            position: absolute;

            right: 0;
            top: 50%;
            transform: translateY(-50%);

            width: pxToVw3(1);
        }

        p {
            font-size: pxToVw3(14);
            font-weight: 300;
            line-height: pxToVw3(16);

            margin-right: 7px;

            text-transform: uppercase;
        }

        a {
            color: #67A1C4;
            font-size: pxToVw3(18);
            font-weight: 700;
            line-height: pxToVw3(19);

            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.7;
                text-decoration: none;
            }
        }
    }

    &__cabinet {
        margin-right: pxToVw3(22);
        padding-right: pxToVw3(22);

        position: relative;

        &::before {
            background-color: #D1E3ED;
            content: "";
            height: pxToVw3(32);

            position: absolute;

            right: 0;
            top: 50%;
            transform: translateY(-50%);

            width: pxToVw3(1);
        }

        a {
            color: #67A1C4;
            font-size: pxToVw3(15);
            font-weight: 500;
            line-height: pxToVw3(18);

            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.7;
                text-decoration: none;
            }
        }

        @media (max-width: 1600px) {
            margin-bottom: 3px;
        }
    }

    &__socials {
        align-items: center;
        display: flex;

        margin-left: auto;
        margin-right: pxToVw3(27);

        padding-right: pxToVw3(27);
        position: relative;

        &::before {
            background-color: #D1E3ED;
            content: "";
            height: pxToVw3(32);

            position: absolute;

            right: 0;
            top: 50%;
            transform: translateY(-50%);

            width: pxToVw3(1);
        }

        ul {
            align-items: center;
            display: flex;
            list-style: none;

            margin: 0;
            padding: 0;

            li {
                &:not(:last-child) {
                    margin-right: pxToVw3(2);
                }

                a {
                    align-items: center;
                    display: flex;

                    height: pxToVw3(30);
                    justify-content: center;
                    transition: all 0.2s ease-in-out;

                    width: pxToVw3(30);

                    img {
                        height: pxToVw3(15);
                        width: pxToVw3(15);
                    }

                    &:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__copyright {
        color: #67A1C4;
        font-size: pxToVw3(15);

        line-height: pxToVw3(18);
    }

    &__recommends {
        flex-grow: 3;
        max-width: pxToVw3(650);
        padding-left: pxToVw3(50);

        transform: translateX(pxToVw3(6));

        h3 {
            font-size: pxToVw3(18);
            font-weight: 500;

            line-height: pxToVw3(20);
            margin-bottom: pxToVw3(14);
            margin-top: 0;

            text-align: center;
        }
    }

    &__recommends-row {
        .slick-track {
            display: flex;
        }


    }

    &__recommends-item {
        background-color: #fff;
        height: auto;
        margin-left: pxToVw3(9);
        margin-right: pxToVw3(9);

        a {
            display: block;
        }
    }

    &__recommends-item-img {
        background-color: #005090;
        height: pxToVw3(105);
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__recommends-item-desc {
        background-color: #fff;

        color: #005092;
        font-size: pxToVw3(14);
        line-height: pxToVw3(16);

        padding: pxToVw3(10);
    }

    &__arrow-back {
        bottom: pxToVw3(-32);
        left: pxToVw3(200);
        position: absolute;

        z-index: 20;

        img {
            width: pxToVw3(25);
        }
    }

    &__arrow-forward {
        bottom: pxToVw3(-32);
        position: absolute;
        right: pxToVw3(200);

        z-index: 20;

        img {
            width: pxToVw3(25);
        }
    }

    &__subscribe {

        a {
            color: #67A1C4;
            font-size: pxToVw3(15);
            font-weight: 500;
            transition: all 0.2s ease-in-out;

            &:hover {
                opacity: 0.7;
                text-decoration: none;
            }
        }
    }
}

.last-section-footer-blue {
    background-color: #015190;
}
