.popup-block {
	position: fixed;
	top: 0;
	right: 0;
	
	z-index: 600; 
	
	width: 100%;
	height: 100%; 
	overflow-y: auto;
	color: #000;
	
	display: none;
	
	transition: transform .5s ease-in-out;
	
	transform: translateX(100%);
	&.active {
		display: block;
		
		transform: translateX(0);
		// &.fadeIn {
		// 	opacity: 1;
		// }
	}
	
	&__overlay {
		position: relative;
		display: block;
		width: 100%;
		min-height: 100%;
		overflow: hidden;
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
	
	&__close {
		position: absolute;
		display: block;
		top: 50%;
		left: pxToVw(35);
		transform: translateY(-50%);
		cursor: pointer;
		font-size: pxToVw(16);
		width: 1.13333vw;
		height: 1.13333vw;
		
		transition: opacity 0.2s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	
	&__popup {
		position: absolute;
		right: 0;
		top: 10vh;
		bottom: 10vh;
		background-color: #fff;
			
		width: pxToVw(1000);
		min-height: pxToVw(384);
    	color: #005090;
		.inner-content {
			height: auto;
			padding: pxToVw(100) pxToVw(50) pxToVw(120) pxToVw(80);
		}
	}
	
}

@media (min-width: 1600px) {
	.popup-block {
		&__popup {
			top: 15vh;
			bottom: 15vh;
			width: 62.5vw;
			min-height: 24vw;
			.inner-content {
				padding: 6vw 3.33333vw 8vw 5.33333vw;
			}
		}
	}
}

@media (max-width: 767px) {
	.popup-block {
		-webkit-overflow-scrolling: touch !important;
		
		&__overlay {
			padding-top: 40px;
			padding-bottom: 60px;
			padding-left: 15px;
			padding-right: 15px;
		}
		
		&__popup {
			width: 100%;
			height: auto;
			
			.inner-content {
				padding-left: 15px;
				padding-right: 15px;
				
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
		
	}
}






