.popup-block {
	position: fixed;
	top: 0;
	right: 0;
	
	z-index: 600; 
	
	width: 100%;
	height: 100%; 
	overflow-y: auto;
	color: #000;
	
	display: none;
	
	transition: transform .5s ease-in-out;
	
	transform: translateX(100%);
	&.active {
		display: block;
		
		transform: translateX(0);
		// &.fadeIn {
		// 	opacity: 1;
		// }
	}
	
	&__overlay {
		position: relative;
		display: block;
		width: 100%;
		min-height: 100%;
		overflow: hidden;
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
	
	&__close {
		position: absolute;
		display: block;
		top: 50%;
		left: pxToVw(35);
		transform: translateY(-50%);
		cursor: pointer;
		font-size: pxToVw(16);
		width: 1.13333vw;
		height: 1.13333vw;
		
		transition: opacity 0.2s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	
	&__popup {
		position: absolute;
		right: 0;
		top: 10vh;
		bottom: 10vh;
		background-color: #fff;
			
		width: pxToVw(1000);
		min-height: pxToVw(384);
    	color: #005090;
		.inner-content {
			height: 100%;
			padding: pxToVw(100) pxToVw(50) pxToVw(120) pxToVw(80);
			display: flex;	
		}
	}

	&__popup-socials {
		display: flex;
		position: absolute;
		top: 3vw;
		right: pxToVw(50);

		a {
			font-size: unset;
			margin: unset;
			&:not(:last-child) {
				margin-right: pxToVw(18);

			}
		}

		img {
			width: pxToVw(16);
			height: pxToVw(16);
		}
	}

	&__popup-full {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: minmax(60%, 1fr) auto;
		overflow: hidden;
		grid-template-rows: 100%;
	}

	&__popup-text {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: max-content max-content 1fr;
		overflow: auto;
		padding-right: 1vw;
	}
	&__popup-text::-webkit-scrollbar {
		width: 4px;
		background: #e8f1f6;
	}
	&__popup-text::-webkit-scrollbar-thumb {
		width: 4px;
		background: #005090;
	}

	&__popup-full-img {
		padding-left: 1vw;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__popup-inner {
        top: 25vh;
        bottom: 25vh;
        width: 40vw;
        .inner-content {
			padding: 5vw;
        	padding-left: 6vw;
		}
	}
	
	&__slider {
		width: 100%;
		height: 100%;
		overflow: hidden;
		.slick-slide {
			display: grid !important; 
		}

		.slick-track {
			height: 100%;
		}

		.slick-list {
			height: 100%;
		}
	}
}

@media (min-width: 1600px) {
	.popup-block {
		&__popup {
			top: 15vh;
			bottom: 15vh;
			width: 62.5vw;
			min-height: 24vw;
			.inner-content {
				padding: 6vw 3.33333vw 8vw 5.33333vw;
			}
		}

		&__popup-inner {
			top: 25vh;
			bottom: 25vh;
			width: 40vw;
			.inner-content {
				padding: 5vw;
				padding-left: 6vw;
			}
		}
	}
}



@media (max-width: 1024px) {
	.popup-block {
		-webkit-overflow-scrolling: touch !important;
		
		&__overlay {
		}
		
		&__popup {
			width: 100%;
			height: 100%;
			
			left: 0;
			right: 0;
			top: 0;
			z-index: 100;
			.inner-content {
				padding: 20px;
				padding-top: 70px;
			}

			.info-block__text {
				font-size: 16px;
				line-height: 20px;
				width: 100%;
				padding-bottom: 100px;

				display: block;
			}
		}
		
		&__close {
			position: absolute;
			top: 30px;
			left: 20px;
			transform: translateY(-50%);
			width: 16px;
			height: 16px;
		}

		&__popup-socials {
			display: none;
		}

		&__popup-full {
			height: 80%;
		}
	}
}






