.popup-block {
	position: fixed;
	top: 0;
	right: 0;
	
	z-index: 600; 
	
	width: 100%;
	height: 100%; 
	overflow-y: auto;
	color: #000;
	
	display: block;
	
	transition: transform .5s ease-in-out;
	
	transform: translateX(100%);

	.form-validate-result {
        position: absolute;
        bottom: 1vw;
        left: 1vw;
        right: 1vw;
        padding: 1vw;
	}
	
	&.active {
		// display: block;
		
		transform: translateX(0);
		// &.fadeIn {
		// 	opacity: 1;
		// }
	}
	
	&__overlay {
		position: relative;
		display: block;
		width: 100%;
		min-height: 100%;
		overflow: hidden;
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
	
	&__close {
		position: absolute;
		display: block;
		top: 50%;
		left: pxToVw(35);
		transform: translateY(-50%);
		cursor: pointer;
		font-size: pxToVw(16);
		width: 1.13333vw;
		height: 1.13333vw;
		
		transition: opacity 0.2s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	
	&__popup {
		position: absolute;
		right: 0;
		top: 10vh;
		bottom: 10vh;
		background-color: #fff;
			
		width: pxToVw(1000);
		min-height: pxToVw(384);
    	color: #005090;
		.inner-content {
			height: 100%;
			padding: pxToVw(100) pxToVw(50) pxToVw(120) pxToVw(80);
			display: flex;	
		}
	}

	&__popup-socials {
		display: flex;
		position: absolute;
		top: 3vw;
		right: pxToVw(50);

		a {
			font-size: unset;
			margin: unset;
			&:not(:last-child) {
				margin-right: pxToVw(18);

			}
		}

		img {
			width: pxToVw(16);
			height: pxToVw(16);
		}
	}

	&__popup-full {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: minmax(60%, 1fr) auto;
		overflow: hidden;
		grid-template-rows: 100%;
	}

	&__popup-text {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: max-content max-content 1fr;
		overflow: auto;
		padding-right: 1vw;

		padding-left: 5px;
	}
	&__popup-text::-webkit-scrollbar {
		width: 4px;
		background: #e8f1f6;
	}
	&__popup-text::-webkit-scrollbar-thumb {
		width: 4px;
		background: #005090;
	}

	&__popup-full-img {
		padding-left: 2vw;
		padding-right: 5px;
		position: relative;
		height: 100%;
		width: auto;

		img {
			width: auto;
			height: 100%;
			object-fit: cover;
		}
	}

	&__popup-inner {
        top: 25vh;
        bottom: 25vh;
        width: 40vw;
        .inner-content {
			padding: 5vw;
        	padding-left: 6vw;
		}
	}
	
	&__slider {
		width: 100%;
		height: 100%;
		.slick-slide {
			display: grid !important; 
		}

		.slick-track {
			height: 100%;
		}

		.slick-list {
			height: 100%;
		}

		
	}

	&__slider-wrapper {
		width: 100%;
		height: 100%;

		.footer {
			&__portfolio-back {
				position: absolute;
				bottom: pxToVw3(-35);
				left: 0;

				z-index: 10;
			}
			
			&__portfolio-forward {
				position: absolute;
				bottom: pxToVw3(-35);
				left: pxToVw3(120);

				z-index: 10;
			}
		}

		.info-block {
			&__switch {
				.current {
					font-weight: 700;
				}
			}
		}
	}

	&__popup-full-img-inner {
		width: 100%;
		position: relative;
		img {
			display: block;
			width: auto;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 100%;
			max-height: 100%;
			transform: translateX(-50%) translateY(-50%);
		}

		&::before {
			content: "";
			display: block;
			padding-bottom: 66.6%;
		}
	}

	&__popup--img {
		max-width: 50vw;
		.inner-content {
			padding-top: pxToVw(50);
			padding-bottom: pxToVw(50);
		}
	}

	&__img-slider {
		width: 100%;
		height: 100%;
		// .slick-slide {
		// 	display: grid !important; 
		// }

		.slick-track {
			height: 100%;
		}

		.slick-list {
			height: 100%;
		}

		
	}

	&-request {
		.popup-block {
			&__overlay {
				padding-left: 15px;
				padding-right: 15px;

				padding-top: 60px;
				padding-bottom: 60px;

				background-color: rgba(103, 161, 196, 0.55);

				width: 100%;
				min-height: 100%;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			&__popup {
				position: relative;
				bottom: 0;
				height: auto;
				min-height: 1px;

				border-radius: 12px;
				.inner-content {
					padding: 25px;
				}

				.services__form._fixed {
					min-width: 1px;
					width: 100%;
					padding: 0;
					.full-menu {
						&__form-inputs {
							margin-bottom: 0;
						}
					}

					.full-menu__form-inputs.required-input-wrapper {
						&::before {
							width: 7px;
							height: 7px;

							margin-top: -3px;
						}
						.required-input {
							padding-left: 20px;
						}
					} 
					input {
						font-size: 14px;
						height: 40px;
					}

					.form__input-icon {
						top: 10px;

						width: 20px;
						height: 20px;
					}

					.form__input-wrap .select2-container--default .select2-selection--single  {
						height: 40px;
					}
				}

				.services {
					&__form-text {
						padding-right: 15px;
						margin-bottom: 20px;
					}

					&__form-required-message {
						font-size: 10px;
						line-height: 11px;

						margin-bottom: 35px;

						padding-left: 11px;
						&::before {
							width: 4px;
							height: 4px;
						}
					}
					
				}

				.full-menu__form-submit._float {
					float: initial;
					height: 28px;
					width: auto;

					padding-left: 10px;
					padding-right: 10px;

					font-size: 14px;
				}
			}

			&__close {
				right: 25px;
				left: auto;

				width: 12px;
				height: 12px;
			}
		}
	}
}

@media (min-width: 1600px) {
	.popup-block {
		&__popup {
			top: 15vh;
			bottom: 15vh;
			width: 62.5vw;
			min-height: 24vw;
			.inner-content {
				padding: 6vw 3.33333vw 8vw 5.33333vw;
			}
		}

		&__popup-inner {
			top: 25vh;
			bottom: 25vh;
			width: 40vw;
			.inner-content {
				padding: 5vw;
				padding-left: 6vw;
			}
		}

		&__popup--img {
			max-width: 50vw;
			width: 60vw;
			.inner-content {
				padding-top: pxToVw(50);
				padding-bottom: pxToVw(50);
			}
		}
	}
}



@media (max-width: 1024px) {
	.popup-block {
		-webkit-overflow-scrolling: touch !important;
		
		&__overlay {
		}
		
		&__popup {
			width: 100%;
			height: 100%;
			
			left: 0;
			right: 0;
			top: 0;
			z-index: 100;
			.inner-content {
				padding: 20px;
				padding-top: 70px;
			}

			.info-block__text {
				font-size: 16px;
				line-height: 20px;
				width: 100%;
				padding-bottom: 100px;

				display: block;
			}
		}
		
		&__close {
			position: absolute;
			top: 30px;
			left: 20px;
			transform: translateY(-50%);
			width: 16px;
			height: 16px;
		}

		&__popup-socials {
			display: none;
		}

		&__popup-full {
			height: 80%;
		}

		&__slider {
			.footer {
				&__portfolio-back {
					bottom: 63px;
					left: 80px;
					img {
						width: 15px;
					}
				}
				
				&__portfolio-forward {
					bottom: 63px;
					left: 170px;
					img {
						width: 15px;
					}
				}
			}
		}
	}
}






