.reviews-block {
    margin-bottom: pxToVw3(100);
    position: relative;
    &__wrapper {
        position: relative;

        .footer {
            &__portfolio-back {
                position: absolute;
                bottom: pxToVw(-42);
                left: 0;
    
                z-index: 10;
            }
            
            &__portfolio-forward {
                position: absolute;
                bottom: pxToVw(-42);
                left: pxToVw3(130);
    
                z-index: 10;
            }
        }
    }
    &__more {
        display: flex;
        margin-top: pxToVw(25);
        font-size: pxToVw(14);
        font-weight: bold;
        cursor: pointer;
        align-items: center;
        font-family: "Museo Sans", sans-serif;
        &:after {
            content: "";
            display: inline-block;
            width: pxToVw(70);
            height: pxToVw(10);
            background: url(../img/arrow-right_dark-blue.svg) no-repeat center / contain;
            margin-left: pxToVw(30);
        }
    }

    &__item {
        padding-left: pxToVw3(25);
        padding-top: pxToVw3(25);
        padding-bottom: pxToVw3(25);
        padding-right: pxToVw3(30);

        background-color: #fff;

        p {
            font-size: pxToVw3(16);
            font-weight: 300;
            line-height: pxToVw3(20);
        }
    }

    &__item-wrapper {
        padding-right: 40px;
    }

    &__row {
        width: 100%;
        display: flex;
        transition: transform 1s ease-in-out;
    }

    &__switch {
        position: absolute;
        bottom: pxToVw(-45);
        font-size: pxToVw(12);
        display: flex;
        color: #67a1c4;
        left: pxToVw(40);
        user-select: none;
        transition: opacity 1s ease;

        .current {
            font-weight: 700;
        }
    }

    &__item-name {
        font-size: pxToVw3(16);
        font-weight: 700;

        margin-bottom: pxToVw3(15);
    }

    &__blue-text {
        font-size: pxToVw3(17);
        line-height: pxToVw3(32);
        font-weight: 300;

        color: #65A2C2;

        margin-bottom: pxToVw3(20);
    }
}

@media (max-width: 1024px) {
    .reviews-block {
        margin-bottom: 50px;

        &__item-wrapper {
            padding-right: 20px;
        }

        &__item {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;

            p {
                font-size: 14px;
                line-height: 16px;
            }
        }

        &__item-name {
            font-size: 16px;
        }

        &__more {
            font-size: 16px;
            margin-top: 20px;

            &::after {
                margin-left: 15px;
                width: 50px;
                height: 7px;
            }
        }

        &__switch {
            bottom: -30px;
            left: 20px;
        }

        &__wrapper {
            .footer {
                &__portfolio-back {
                    bottom: -27px;
                    img {
                        width: 15px;
                    }
                }
                
                &__portfolio-forward {
                    bottom: -27px;
                    left: 60px;
                    img {
                        width: 15px;
                    }
                }
            }
        }
    }
}


@media (max-width: 400px) {
    .reviews-block {
        &__item-wrapper {
            padding-right: 5px;
        }
        
        &__wrapper {
            .footer {
                &__portfolio-back {
                    bottom: -27px;
                    img {
                        width: 15px;
                    }
                }
                
                &__portfolio-forward {
                    bottom: -27px;
                    left: 63px;
                    img {
                        width: 15px;
                    }
                }
            }
        }
    }
}